.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    width: 640px;
    height: 640px;
    border: 1px solid #000;
}

.grid-square {
    background-color: rgba(224, 224, 224, 0.649);
    border: 1px solid black;
    box-sizing: border-box;
}
